/* FORSIDE BLOGPOSTS */

#forside_blog_border {
/*border: 1px solid #999;*/
}

#forside_blog_wrapper {
	width: 602px;
}

#forside_blog_wrapper .blogpost{
	padding: 5px 10px 3px 10px;
/*	border: 1px solid #999;*/
	margin: 0px;
}


#forside_blog_wrapper .topline {
	width: auto;
	font-size:8px;
	font-weight:bolder;
	text-align:left;
	margin-right: 5px;
	padding: 0px 0px 0px 0px; /*TRBL*/
	/*border-bottom: 1px solid #ccc;*/
}

#forside_blog_wrapper .author {
	color:#3D8FCB;
	margin-top:5px;
	margin-left: 0px;
	font-style: normal;
	font-weight:bold;
}

#forside_blog_wrapper table {
	border: 1px solid #999;
}

#forside_blog_wrapper td.tekst_foto_1 {
	padding: 10px;
}

#forside_blog_wrapper td.foto_1 {
	width: 100px;
	text-align: center;
	vertical-align: top;
	
}

#forside_blog_wrapper .date_time {
	color:#000;
	width: auto;
	font-size: 12px;
	font-weight:normal;
	font-style: normal;
	text-align:left;
	margin-left: 3px;
	padding: 1px 0px 3px 0px; /*TRBL*/
}
#forside_blog_wrapper .title, #admin_blog .emne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#3D8FCB;
	margin-top:5px;
	margin-left: 2px;
	font-size: 18px;
}

#forside_blog_wrapper .body {
	background-color: white;
	width: auto;
}
#forside_blog_wrapper .body p{
	font-size:14px;
	font-weight:normal;
	text-align:left;
	color:#000;
	margin: 0px 5px 5px 2px; /*TRBL*/
	line-height: 17px;
	
}
#forside_blog_wrapper .body ul, #admin_blog .body ol {
	padding-left: 20px;
	margin: 5px 5px 5px 5px;
}

#forside_blog_wrapper .body ul li, #admin_blog .body ol li {
	font-size:11px;
	font-weight:normal;
	text-align:left;
	padding: 0;
	margin: 0;
}

#forside_blog_wrapper .comment {
	z-index: 100;
	width: 535px;
	position: relative;
	left: 15px;
	height: auto;
	background-color: white;
	border: 1px solid #BAD6E9;
	margin-bottom: 8px;
}

#forside_blog_wrapper h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	line-height: 16px;
	height: 20px;
	font-size:14px;
	font-weight: bold;
	text-align:left;
	color:#FFF;
	background-color: #3D8FCB;
	padding: 3px 0px 0px 8px;
	background-image: url(../images/menubar_baggrund_lys.gif);
	border: 1px solid #999;
}
#forside_blog_wrapper h1 a{	
	font-size:10px;
	font-weight:normal;
	text-align:left;
	color:#333;
	margin-right:0px;
	margin-top:0px;
	margin-left: 2px;
	text-decoration:none;
}
#forside_blog_wrapper h5 {
	font-size:10px;
	font-weight:normal;
	font-style: italic;
	text-align:right;
	color:#6D6D6D;
	margin-right: 25px;
	margin-left: 0px;
	margin-top: -2px;
	margin-bottom: 10px;
}

#forside_blog_wrapper h5 br{
	margin-bottom: 0px;
}
