<!-- Husk at partials benytter "_menu.html.erb" underscore ja! -->
<%#= render :partial => "layouts/menu" %>



<div id='wrapper_top_text'><%= image_tag "top_text.jpg" %></div>
<!-- <div id="menu_streg"></div> -->
<div id="menu"><%= render :partial => "layouts/menu_forside" %></div>	

<div id='forside_wrapper'>






<h1 id=""><%= render :partial => "layouts/show" %>
</h1>

</div>



