<!-- Husk at partials benytter "_menu.html.erb" underscore! -->
<%#= render :partial => "layouts/menu" %>


<div id='wrapper_top_text'><%= image_tag "top_text.jpg" %></div>
<div id='wrapper'>
	
<h1 id=""><%= render :partial => "layouts/show" %>
</h1>
</div>

