<div id='pages'>
	<%= render :partial => "layouts/show" %>
</div>


<div id="forside_blog_wrapper">
	<h1>SENESTE INDLÆG FRA BLOGGEN</h1>
	
	<%= render :partial => "posts/partials/forside_blog_foto_1" %>
	
</div>



