
	<% unless @c.empty? %>
		<ul>
			 <!-- Her niveau 2 i menuen -->
				<% @c.each do |c_menu| -%>
				<% if c_menu.active %>
					<li><%= link_to c_menu.navlabel, {:controller => c_menu.controller_name, :action => 'show', :id => c_menu.resource_id} %>
						<% end %>
						
						</li>		
				<% end %>
		</ul>
	<% end %>	
</li>