<div id="menu_left">
<ul id='nav'> <!-- Denne id er vigtig, da den ligger i javascriptet og muliggør dropdowns specielt i IE6 -->

<%= render :partial => "menusystem/menu_level_1" %>

<li class="admin_navlabel">
	<% if logged_in? %>
	<%= link_to 'Log ud', logout_path %>
	<% end %>
</li>
<li id="box_left"></li>
</ul></div>