<% unless @level_3.empty? %>
	<ul>
	<% @level_3.each do |level_3| -%>
	
		<% if level_3.category == 'Public' %>
			<li class="user_navlabel">
				<% if level_3.redirect? %>
						<%= link_to level_3.navlabel, {:controller => level_3.controller_redirect, :action => level_3.action_redirect, :id => level_3.resource_id } %>
				<% else %>
				
					<!-- Her tages specielt hensyn til forsiden, der ikke skal vises som -->
					<% if level_3.controller_name == 'forside'%>
						<li><%= link_to level_3.controller_name.mb_chars.capitalize, root_url %>
					<% else %>
						<%= link_to level_3.navlabel, {:controller => level_3.controller_name} %>
						<!-- Alle admin sider ledes videre til deres index i views -->
			    	
					<% end %>
			
				<% end %>
		
				
		<% else %>
			<li class="admin_navlabel"><%= link_to level_3.navlabel, {:controller => level_3.controller_name} %>
			<%#= link_to @c.navlabel, {:controller => 'viewer', :name => @c.navlabel.downcase, :action => 'show'} %>
			<%#= link_to @c.navlabel, {:controller => @c.controller_name, :action => 'show', :id => @c.resource_id} %>
			
		
		<% end %>
	
	<% end %>
	</ul>
<% end %>	
</li>