
	<% unless @c.empty? %>
		<ul>
			 <!-- Her niveau 2 i menuen -->
				<% @c.each do |c_menu| -%>


					<% if c_menu.redirect?%>
					<% @controller_name = c_menu.controller_redirect %>
					<% @action_name = c_menu.action_redirect %>
					<% else %>
					<% @controller_name = c_menu.controller_name %>
					<% @action_name = 'show' %>
					<% end %>
					<% if @action_name == 'forside'%>
						<li><%= link_to c_menu.navlabel.mb_chars.capitalize, root_url %>

					<% elsif c_menu.resource_type == 'Menu' %><!-- Alle menuer skal vise id istedet for resource_id for at gøre menuerne brugervenlige -->
						<li><%= link_to c_menu.navlabel.mb_chars.capitalize, {:controller => @controller_name, :action => @action_name, :id => c_menu.id} %>

					<% else %>
						<li><%= link_to c_menu.navlabel.mb_chars.capitalize, {:controller => @controller_name, :action => @action_name, :id => c_menu.resource_id} %>
					<% end %>
						<!-- Her niveau 3 i menuen.-->
						<%# @cc = c_menu.children %>

						<%#= render :partial => "adminmenu/menu_level_3" %>

						</li>		
				<% end %>
		</ul>
	<% end %>	
</li>