<%#= render :partial => "layouts/menu" %>
<!-- <div id="popup_vinduer"> -->
	
<%= image_tag @asset.photo.url(:original) rescue nil %>
<!-- <p class='pos'>
  <%#=h @asset.description %>

</p> -->


<%#= link_to 'Edit', edit_asset_path(@asset) %>
<%#= link_to '[Tilbage]', assets_path %>

<!-- </div> -->