<%= render :partial => "layouts/menu" %>
			
<div id="admin_formular">
	
<%= render :partial => "posts/partials/edit" %>


<div id="admin_liste">

	<%= render :partial => "posts/partials/attachments" %>
	<%= link_to '[Tilføj fotos]', add_to_post_path (:id => params[:id] )%>

</div>

</div>