<%#= render :partial => "layouts/menu" %>
<div id='wrapper_top_text'><%= image_tag "top_text.jpg" %></div>
<div id='wrapper'>
		<div id="admin_blog">
			
			<%= render :partial => "layouts/posts/show" %>
		
		</div>

</div>