<div id='wrapper_top_text'></div>

<div id="menu"><%= render :partial => "layouts/menu_forside" %></div>

<div id='forside_wrapper'>
		<div id="admin_blog">
			
			<%= render :partial => "posts/partials/show" %>
		
		</div>

</div>