<div class="top_foto"><%= image_tag "top_adm.jpg" %></div>
<div id="menu_top">
	<% if flash[:notice] -%> 
	<span class="flash_menu"><%= '[' + flash[:notice] + ']' %></span>
	<% else %>
	<div class="rub_top">Administrationsområde</div>
	<% end -%>

</div>

<%= render :partial => "menusystem/menu_level_0" %>
