<%#Her skal jeg finde menupunkterne til hovedmenuen i Contents. Dvs. alle dem der tilhører Controlleren pages og som er aktive. Menuerne dannes herfra, men det efterfølgende indhold hentes i Pages eller anden tabel.%>
<ul>
	
	
<% @last_one = @main_menu.last.id %>

<% @main_menu.each do |menu| -%>

	<% if menu.controller_name == 'forside'%>
		<li><%= link_to menu.navlabel.mb_chars.upcase, root_url %></li>
	<% else %>
	
		<% if menu.redirect? %>
			<li>
			<%= link_to menu.navlabel.mb_chars.upcase, :controller => menu.controller_redirect, :action => menu.action_redirect, :id => menu.resource_id %>
			</li>
			
		<% else %>
			<li>
			<%= link_to menu.navlabel.mb_chars.upcase, :controller => menu.controller_name %>
			</li>
		<% end %>
		
	<%end %>
	
<% end %>

</ul>


